@charset "UTF-8";
/* CSS Document */

*{
	margin: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	box-sizing: border-box;
	
	
}

@font-face {
  font-family: 'basier';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/basier/BasierCircle-Regular.ttf') format('truetype');
		
		}


@font-face {
  font-family: 'basier';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/basier/BasierCircle-Bold.ttf') format('truetype');
		
		}
.todo{
	width: 100vw;
	height: 100vh;
	background-color: black;
}
.todo video{
	max-width: 120vw;
	min-width: 100vw;
	opacity: 0.89;
}
@keyframes zoom{
	0%{
		transform: scale(-2);
	filter: blur(40px);
		opacity: 0.59
	}
	100%{
		transform: scale(1);
	}
}
@keyframes appear{
	0%{
		transform: translateY(300px);
	}
	
	100%{
		transform: translateY(0px)
	}
}

@keyframes opa{
	0%{
		opacity: 0.0;
	}
	
	100%{
		opacity: 1.0;
	}
}
h1{
	font-size: 48px;
	font-family: 'basier';
	font-weight: 600;
	text-align: center;
	position: absolute;
	color: white;
	margin: auto;
	z-index: 10;
	width: 100vw;
	top: 40%;
	animation-name: zoom;
	animation-duration: 2s;
	animation-play-state: running;
	
}
.sta buttom{
	
	display: flex;
	justify-content: center;
    align-items: center;
}
.sta buttom a{
	font-size: 18px;
	font-family: 'basier';
	font-weight: 100;
	text-align: center!important;
	position: absolute;
	color: black;
	z-index: 10;
	width: 240px;
	bottom: 5%;
	background-color: #fff;
	height: 60px;
	padding: 10px;
	line-height:35px;
	border-radius: 30px;
	text-decoration: none;
	margin: auto!important;
	animation-name: appear;
	animation-duration: 2s;
	animation-play-state: running;
}
.alls{
	background-color: black;
}

.alls-2{
	background-color: #D8550F;
}
.fd{
	width: 100vw;
	height: 800px;
	margin-top: 40%;
	
	
}
.tit{
	font-family: 'basier';
	font-size: 68px;
	color:white;
	font-weight: 600;
	margin: auto;
	position: relative;
	text-align: center;
	
	
	
}

.stit{
	font-family: 'basier';
	font-size: 43px;
	color:#515151;
	font-weight: 100;
	margin: auto;
	position: relative;
	text-align: center;
	margin-top: 30px;
	
	
	
}
.select {
  width: 70%;
	border-radius: 90px;
	margin:0;
	align-items: center;
	position: relative;
	margin-left: 15%;
	margin-top: 30px;
	animation-name: opa;
	animation-duration: 3s;
	animation-play-state: running;
	
	
	
	
	
	
}
#standard-select{
  border: none;
  width: 100%;
	height: 80px;
  font-family: 'basier';
  font-size: 21px;
  cursor: inherit;
  line-height: inherit;
	margin: auto;
	position: relative;
	text-align: center;
	
	
}


.sta2 buttom{
	
	display: flex;
	justify-content: center;
    align-items: center;
}


.sta2 buttom a{
	font-size: 30px;
	font-family: 'basier';
	font-weight: 100;
	text-align: center!important;
	position: absolute;
	color: white;
	z-index: 10;
	width: 60%;
	bottom: 5%;
	background-color: #D8550F;
	height: 80px;
	padding:17px;
	border-radius: 90px;
	text-decoration: none;
	margin: auto!important;
	animation-name: appear;
	animation-duration: 2s;
	animation-play-state: running;
	
}
.ps{
	margin:auto;
	text-align: center;
	position: relative;
	background-color: #F2F1F5;
	width: 300px;
	border-radius: 200px;
	margin-top: 25vh;
	
	
}

.ps-2{
	margin:auto;
	text-align: center;
	position: relative;
	background-color: #FFB690;
	width: 300px;
	border-radius: 200px;
	margin-top: 25vh;
	
	
}
lottie-player{
	margin: auto;
	width: 300px; height: 300px;
}
h2{
	font-family: 'basier';
	font-size: 40px;
	font-weight: 600;
	margin:auto;
	text-align: center;
	width: 70vw;
	line-height: 40px;
	margin-top:30px;
	animation-name: opa;
	animation-duration: 2s;
	animation-play-state: running;
	
	
}

h3{
	font-family: 'basier';
	font-size: 21px;
	font-weight: 100;
	margin:auto;
	text-align: center;
	width: 70vw;
	line-height:40px;
	margin-top:30px;
	color: #545454;
	animation-name: opa;
	animation-duration: 2.3s;
	animation-play-state: running;
	
	
}

h4{
	font-family: 'basier';
	font-size: 40px;
	font-weight: 600;
	margin:auto;
	text-align: center;
	width: 70vw;
	line-height: 40px;
	margin-top:30px;
	color: white;
	animation-name: opa;
	animation-duration: 2s;
	animation-play-state: running;
	
	
}

h5{
	font-family: 'basier';
	font-size: 21px;
	font-weight: 100;
	margin:auto;
	text-align: center;
	width: 70vw;
	line-height:40px;
	margin-top:30px;
	color: rgba(255,255,255,0.50);
	
	animation-name: opa;
	animation-duration: 2.3s;
	animation-play-state: running;
	
}

.sta3 buttom{
	
	display: flex;
	justify-content: center;
    align-items: center;
}


.sta3 buttom a{
	font-size: 30px;
	font-family: 'basier';
	font-weight: 100;
	text-align: center!important;
	position: absolute;
	color: white;
	z-index: 10;
	width: 60%;
	bottom: 5%;
	background-color: #D8550F;
	height: 80px;
	padding: 17px;
	border-radius: 90px;
	text-decoration: none;
	margin: auto!important;
	animation-name: appear;
	animation-duration: 2s;
	animation-play-state: running;
	
}
.glo{
	height: 70vh;
	margin: auto;
}

.sta4 buttom{
	
	display: flex;
	justify-content: center;
    align-items: center;
}


.sta4 buttom a{
	font-size: 30px;
	font-family: 'basier';
	font-weight: 100;
	text-align: center!important;
	position: absolute;
	color: white;
	z-index: 10;
	width: 60%;
	bottom: 5%;
	background-color: #000000;
	height: 80px;
	padding: 17px;
	border-radius: 90px;
	text-decoration: none;
	margin: auto!important;
	animation-name: appear;
	animation-duration: 2s;
	animation-play-state: running;
	
}
.alla h6{
	font-size: 52px;
	font-family: 'basier';
	font-weight: 600;
	text-align: left;
	margin-left: 80px!important;
	position: relative;
	color: black;
	margin: auto;
	width: 100vw;
	margin-top: 10%;
	
}
.cards{
	width: 100vw;
	margin: auto;
	
}
.elem{
	width: 70vw;
	margin: auto;
	background-color: #F2F1F5;
	position:relative;
	top: 400px;
	
}





