@charset "UTF-8";
/* CSS Document */

@media (min-width: 270px) and (max-width: 580px){
	
	
.todo{
}
	
.todo video{
	opacity: 0.59;
	
	
}
	h1{
	font-size: 48px;
	font-family: 'basier';
	
	
}
	
	
}
@media (min-width: 580px) and (max-width: 1220px){
	
	
.todo{
}
	
.todo video{
	opacity: 0.59;
	
	
}
	h1{
	font-size: 88px;
	font-family: 'basier';
	
	
}
	.sta buttom a{
	font-size: 36px;
	width: 50%;
	height: 85px;
	padding: 15px;
	line-height:78px;
	border-radius: 60px;
	
	
	
	
}
	
	
}