@charset "UTF-8";
/* CSS Document */

@media (min-width: 270px) and (max-width: 680px){

	
.todo{
}
	
.todo video{
	opacity: 0.89;
	
	
}
	h1{
	font-size: 48px;
	font-family: 'basier';
	
	
}
	
.sta buttom a{
	font-size: 21px;
	width: 60%;
	
	bottom: 6%;
	height: 60px;
	
}
	
.tit{
	font-size: 40px;
	
	
	
}

.stit{
	font-size: 28px;
	
	
	
}
.select {
	border-radius: 90px;
	
}
#standard-select{
	height: 70px;
  font-size: 24px;
	
	
}
.sta2 buttom a{
	font-size: 21px;
	width: 60%;
	
	bottom: 6%;
	height: 60px;
	
}
	
.sta3 buttom a{
	font-size: 21px;
	width: 60%;
	
	bottom: 6%;
	height: 60px;
	
}
	
	
.sta4 buttom a{
	font-size: 21px;
	width: 60%;
	
	bottom: 6%;
	height: 60px;
	
}
	
.fd{
	width: 100vw;
	height: 800px;
	padding: 30px;
	margin-top: 30%;
	
	
}
	
.ps{
	width: 70vw;
	height: 70vw;
	margin-top: 10vh!important;
	border-radius: 1080px;
	
	
}
	
	
.ps-2{
	width: 70vw;
	height: 70vw;
	margin-top: 10vh!important;
	border-radius: 1080px;
	
	
}
lottie-player{
	margin-top: 17px;
	width: 60vw;
	height: 60vw;
}
h2{
	
	font-size: 36px;
	width: 80vw;
	line-height: 49px;
	margin-top:30px;
	
	
}

h3{
	width: 80vw;
	font-size: 24px;
	line-height:36px!important;
	margin-top:20px;
	
	
}
	
h4{
	
	font-size: 36px;
	width: 80vw;
	line-height: 49px;
	margin-top:30px;
	
	
}

h5{
	width: 80vw;
	font-size: 24px;
	line-height:36px!important;
	margin-top:20px;
	
	
}
	
	
.glo{
	height: 40vh;
}
	
.dd{
	font-size: 36px;
	padding: 50px;
}
.main-container {
  padding: 10px;
	margin-top: -40px;
	
}

.card {
	height: 270px;
  border-radius: 23px;
}



.card__icon {
	max-width: 90px;
	min-width:20px;height: 70vh;
	margin-left: 5px;
	margin-top: -10px;
}



.card__title {
  font-weight: 600;
	font-size: 31px;
	margin-top: -70px;
	margin-left: 70px;
	width: 78vw;
	
}
.card p{
	font-size: 21px;
	width: 74vw;
	margin-top: 80px;
	margin-left: 70px; line-height: 25px; 
	
	
}

.end{
	font-family: 'basier';
	font-size: 18px;
	font-weight: 100;
	color: rgba(163,163,163,1.00);
	margin: auto;
	position: relative;
	text-align: center;
	
	
	
}

	
	

	
}
@media (min-width: 680px) and (max-width: 1220px){
	
	
.todo{
}
	
.todo video{
	opacity: 0.89;
	
	
}
	h1{
	font-size: 108px;
	font-family: 'basier';
	
	
}
	
#standard-select{
	height: 95px;
  font-size: 36px;
	
	
}
	

.tit{
	font-size: 56px;
	
	
	
}
.stit{
	font-size: 36px;
	
	
	
}
	
.select {
	border-radius: 90px;
	
}
	.sta buttom a{
	font-size: 36px;
	width: 60%;
	height: 95px;
	padding: 30px;
		border-radius: 90px;
	
	
	
	
}
	.sta2 buttom a{
	font-size: 36px;
	width: 60%;
	height: 95px;
	padding: 30px;
		border-radius: 90px;
	
	
	
	
}
	
	.sta3 buttom a{
	font-size: 36px;
	width: 60%;
	height: 95px;
	padding: 20px;
		border-radius: 90px;
	
	
	
	
}
	.sta4 buttom a{
	font-size: 36px;
	width: 60%;
	height: 95px;
	padding: 20px;
		border-radius: 90px;
	
	
	
	
}
.fd{
	width: 100vw;
	height: 800px;
	padding: 30px;
	margin-top: 50%;
	
	
}
	
.ps{
	width: 70vw;
	height: 70vw;
	margin-top: 10vh!important;
	border-radius: 1080px;
	
	
}
		
.ps-2{
	width: 70vw;
	height: 70vw;
	margin-top: 10vh!important;
	border-radius: 1080px;
	
	
}
lottie-player{
	margin-top: 27px;
	width: 60vw;
	height: 60vw;
}
h2{
	
	font-size: 76px;
	width: 70vw;
	line-height: 79px;
	margin-top:90px;
	
	
}

h3{
	font-size: 42px;
	line-height:65px;
	margin-top:60px;
	
	
}
h4{
	
	font-size: 76px;
	width: 70vw;
	line-height: 79px;
	margin-top:90px;
	
	
}

h5{
	font-size: 42px;
	line-height:65px;
	margin-top:60px;
	
	
}
	
.glo{
	height: 50vh;
}


.dd{
	font-size: 96px;
	padding: 50px;
}
.main-container {
  padding: 20px;
	margin-top: -50px;
	
}

.card {
	height: 280px;
  border-radius: 43px;
}



.card__icon {
  grid-row: 2/3;
	max-width: 160px;
	min-width:80px;height: 80vh;
	margin-left: 15px;
	margin-top: 50px;
}



.card__title {
  font-weight: 600;
	font-size: 46px;
	margin-top: -40px;
	margin-left: 140px;
	
}
.card p{
	font-size: 34px;
	width: 74vw;
	margin-top: 80px;
	margin-left: 140px; line-height: 40px; 
	
	
}

.end{
	font-family: 'basier';
	font-size: 30px;
	font-weight: 100;
	color: rgba(163,163,163,1.00);
	margin: auto;
	position: relative;
	text-align: center;
	
	
	
}

	
	
}